<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="../static/css/main.css">이렇게도 됨.
    -->
 
    {% block head %}


    {% endblock head %}

<body>
    <h1>공시 뉴스봇</h1>
    <h6 style="line-height: 0.1px;">실시간 자동 모니터링, 작성, 알림</h6>
    <h6 style="line-height: 0.1px;">텔레그렘 알림방: @suhcrates_gongshi</h6>
    <h6 style="line-height: 0.1px;">개발자: 서영빈 연합인포맥스 기자</h6>
    <h6 style="line-height: 0.1px;">개발문의, 건의사항 등 : 카카오톡 id: suhcrates1<h6>
    <a style="line-height: 0.1px;" href="http://testbot.ddns.net:5233/sihwang/">종합 방 </a>
    {% block body %} {% endblock body %}
</body>

</html>