{% extends 'base.html' %}

{% block head %}
<title>공시뉴스봇 - 서영빈 기자</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

</script>

<script src="{{ url_for('static', filename='js/bot_v3.js') }}"></script>
<style>
    .onmouse {
        background: rgb(255, 249, 160)
    }
    .onclick {
        background: rgb(255, 249, 160)
    }
    .ok{
        background: rgb(255, 249, 160)
    }
    .jja{
        background: rgb(255, 102, 0)
    }
    .kill{
        background: rgb(255, 77, 77)
    }
</style>
{% endblock head %}


{% block body %}
<div style="max-height:90%; overflow:scroll; overflow-y:auto;overflow-x:auto; position:absolute; top: 50px; left:400px; padding-right:50px; width:500px; word-wrap:break-word"
    id='content'>
    기사창
</div>
    <h6 style="line-height: 0.1px;">실시간 자동 모니터링, 작성, 알림 // 오전9시~오후7시</h6>
    <h6 style="line-height: 0.1px;">텔레그렘 알림방: @suhcrates_gongshi</h6>
    <h6 style="line-height: 0.1px;">개발자: 서영빈 연합인포맥스 기자</h6>
    <h6 style="line-height: 0.1px;">개발문의, 건의사항 등 : 카카오톡 id: suhcrates1<h6>
    <a style="line-height: 0.1px;" href="http://testbot.ddns.net:5233/sihwang/">종합 방 </a><span>   // </span>
    <a id="jogun" style="line-height: 0.1px;" href="/bot_v3/condition/" >처리 가능 보고서 목록 및 처리 조건 </a>
<h3 id='day_here'>{{day_0}}</h3>
<table style="width:300px; font-size:10pt;border:1px solid #7f7f7f;" border="1" cellspacing="0" cellpadding="1"
    data-mce-style="font-size: 10pt; border: 1px solid #7f7f7f;">
    <tr id='avoid'>
    <th>

    <td>날짜</td>
    <td>제목</td>
    <td>상태</td>
    </th>
    </tr>
    {% for obj in objs %}




    <tr id={{obj.ind}} class="main">

        <td>{{ obj.ind }}</td>
        <td>{{ obj.date }}</td>
        <td>
            <p>{{ obj.title }} </p>

        </td>
        <td id="{{obj.ind}}td"></td>
        <script>

     

                $(document).ready(function (){
                    if("{{obj.desk}}" =='' | "{{obj.desk}}" =='0'){
                        $('#{{obj.ind}}td').addClass('ok')
                        .html('<h6>굳</h6>')
                    }else if("{{obj.desk}}" =='1'){
                        $('#{{obj.ind}}td').addClass('jja')
                        .html('<h6>안 중요</h6>')
                    }else if("{{obj.desk}}" =='2'){
                        $('#{{obj.ind}}td').addClass('kill')
                        .html('<h6>오류</h6>')
                    };

                    $("#{{obj.ind}}").hover(function () {
                        $("#{{obj.ind}}").toggleClass('onmouse');
                    })
                });

            </script>
        <!--
        <td><a href = "/bot/{{obj.ind}}">{{obj.title}}</a></td>
    -->


    </tr>
    {% endfor %}
</table>

{% for pagename in pagenames %}
<a href='/bot_v3/{{pagename}}/'>{{pagename}}</a><br>
{% endfor %}

<!--
<form action="/bot_v3/{{day_0}}/" method="POST">
    <input type="text" name="title" id="content">
    <input type="text" name="article" id="content">

    <input type="submit" value="Add">

</form>
-->
{% endblock body %}`